---
page_title: {{ range $index, $element := slice (split .Name "_") 1 }}{{ $element | title }} {{ end }}({{.Type}})
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ range $index, $element := slice (split .Name "_") 1 }}{{ $element | title }} {{ end }}({{.Type}})

{{ .Description | trimspace }}

{{- if .HasExamples }}

## Example Usage

{{- range $index, $exampleFile := .ExampleFiles }}

{{tffile $exampleFile }}

{{- end }}

{{- end }}

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{codefile "shell" .ImportFile }}
{{- end }}
