---
extends: "default"

ignore: |-
  /dist/

rules:
  empty-values: "enable"
  document-start:
    level: warning
  indentation:
    spaces: 2
  line-length: "disable"
  quoted-strings: disable
  truthy:
    check-keys: false
